/* Change the background color of the page */
body {
    background-color: #5770f1;
    background-image: url("images/bg-quiz.gif");
    background-size: cover;
}
/* drop the header down a bit */
header {
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* QUIZ TITLE */

.quiztitle {
    background-image: url(images/wordbubble.svg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
    height: 500px;
    width: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bangers', cursive;
    font-size: 6em;
    letter-spacing: .2rem;
    margin-top: -1rem;
    animation: slidedown 1s forwards;
}
.quiztitle p {
    padding-bottom: 2rem;
    animation: quizpop .5s ease-in .6s 1 forwards;
    opacity: 0;
}

@keyframes slidedown {

    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
    
}

@keyframes quizpop {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    25% {
        opacity: .5;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    75% {
        transform: scale(.8);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
    
}
/* INTRO CONTENT FOR MAIN PAGE */
.introsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Catamaran', sans-serif;
}
.introContent {
    width: 50vw;
    color: white;
    font-size: 1.4rem;
    text-align: center;
}
.introContent p:last-child::after {
    content: 'Ready, set, go!';
    opacity: 0;
    font-size: 2rem;
    font-family: 'Bangers', cursive;
    letter-spacing: .1rem;
    text-shadow: 4px 4px  #4052ac ;
    animation: readyset 3.5s linear 1.5s forwards;
}

@keyframes readyset {
    0% {
        content: ',';
        opacity: 0;
    }
    1% {
        content: 'Ready,';
        opacity: 1;
    }
    45% {
        content: 'Ready, set,';
        opacity: 1;
    }
    100% {
        content: 'Ready, set, go!';
        opacity: 1;
    }
}

.startbtn {
    border: none;
    background-color: white;
    padding: .5rem 1.5rem;
    font-family: 'Bangers', cursive;
    font-size: 1.7em;
    letter-spacing: .02em;
    border-radius: .5rem;
    box-shadow: 6px 6px  #4052ac ;
    transition: .5s;
}

.startbtn:hover {
    box-shadow: 10px 10px #4052ac;
    background-color: rgb(249, 171, 4);
    cursor: pointer;
}

/* background for the header bar and center text */
#headerbar {
    border:2px solid #788df2;
    border-radius: 25px;
    margin: 0px 20px;
    background-image: linear-gradient( rgba(86,111,241,1),rgba(49,79,229,1));
}
/* Center and size h1 */
#headerbar  h1 {
        text-align: center;
        padding:10px;
        font-size:29px;
        width: 90%;
        border-bottom: 1px solid #788df2;
        margin: 0px auto;
        font-family: 'Bangers', cursive;
        letter-spacing: .1em;
}
/* style header link */
#enterhighscore a {
    text-decoration: none;
    color: whitesmoke;
}
#enterhighscore a:hover {
    color: #cad1f5;
}
/* small title size */
.smalltitle {
    font-size: 10px;
    color: aliceblue;
}
/* Style the questions */
#questions {
    font-size: 24px;
    padding:20px 0px 40px 0px;
    line-height: 1.4em;
}
#questions p:nth-child(3) {
    text-align: center;
    font-weight: bold;
  }

/* highscore style and timer */
#enterhighscore {
    font-size: 26px;
    color: aliceblue;
    padding-bottom: 10px;
}
.entertimer {
    font-size: 26px;
    color: aliceblue;
    padding-bottom: 10px;
}
#highscoreform {
    visibility: hidden;
}
#feedback {
    color: rgb(84, 84, 84);
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

/* Content Styling */

#maincontent {
    padding: 15px;
    font-family: 'Catamaran', sans-serif;
    color: aliceblue;
    width: 20vw;
    border: 1px solid black;
}
#highscores h2 {
    margin: 10px 0px 30px 0px;
}

/* indent questions */
#answer1, #answer2, #answer3, #answer4 {
    margin-left: 5%;
}
/* style buttons */
#button {
    display: block;
    text-align: center;
}
#button button {
    background-color: #304fe5;
    border:2px solid #1e233e;
    color: white;
    padding:8px 26px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#button button:hover {
    background-color: #516bed;
    color:white;
}
#answer1 button, #answer2 button, #answer3 button, #answer4 button, #highscores button, #submitinitials {
    background-color: #304fe5;
    border:2px solid #1e233e;
    color: white;
    padding:8px 26px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#answer1 button:hover {
    background-color: #516bed;
    color:white;
}
#answer2 button:hover {
    background-color: #516bed;
    color:white;
}
#answer3 button:hover {
    background-color: #516bed;
    color:white;
}
#answer4 button:hover {
    background-color: #516bed;
    color:white;
}
#highscores button:hover {
    background-color: #516bed;
    color:white;
}
#highscoreform button:hover {
    background-color: #516bed;
    color:white;
}
#highscores button {
    margin-right:10px;
}
#submitinitials {
    margin-left:10px;
}

/* HighScores List Look */
#hslist {
    list-style-image: url('images/lightbulb-small.png');
    font-size: 1.4em;
    color:#354edc;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* proper size of header bar for larger screens */
    #headerbar {
        width: 900px;
        margin:0px auto;
    }
    /* position the timer to the right on larger screens */
    #timer {
        position: absolute;
        right:0;
        padding-right:50px;
    }
    #maincontent {
        width:800px;
        margin:0px auto;
    }
}

/* Small devices (mobile, 768px and down) */
@media only screen and (max-width: 765px) {
    #maincontent {
        margin:0px 20px;
    }
        /* QUIZ BLOCK */

        .quiztitle {
            width: 95vw;
        }
        .introContent {
            width: 95vw;
        }
        header {
            height: 35vh;
        }
}
